name: Sphinx site

on: [push]

env:
  UV_LOCKED: 1

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Build
      run: |
        make html dirhtml
